scipy==1.4.1
scikit-learn==0.22
joblib==1.0.1
# tensorflow==2.2.0
xgboost==1.0.2
bayesian-optimization==1.1.0
# lightgbm==2.3.1
# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.6.0+cu101
# torchvision==0.7.0+cu101
# keras-tuner @ git+https://github.com/keras-team/keras-tuner.git@1.0.2rc1#egg=keras-tuner
# autokeras==1.0.4
